 /*
.roboto-slab-content{
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}*/
   
      body{
        background-size: cover;
        
      }
      .card{
        color: #C5C6D9;
        backdrop-filter: blur(10px);
        background-color: rgba(13, 13, 13, 0.3);
        font-family: "Roboto Slab", serif;
        font-optical-sizing: auto;
        font-weight: bold;
        font-style:normal;
      }
      .video-background {
  position: relative;
  width: 100%;
  height: 100vh; /* Full screen */
  overflow: hidden;
}

.video-background video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.video-background .content {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}
input{
  box-shadow: 1px 5px 5px rgba(119, 122, 166, 0.5);
}

